<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
<p>By {{ post.author }} on {{ post.published_date }}</p>
{% if user == post.author %}
<a href="{% url 'post-update' post.pk %}">Edit</a>
<a href="{% url 'post-delete' post.pk %}">Delete</a>
{% endif %}


<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>

<h3>Comments</h3>
{% if user.is_authenticated %}
  <form action="{% url 'add-comment' post.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Comment</button>
  </form>
{% endif %}

<ul>
  {% for comment in post.comments.all %}
    <li>
      <p>{{ comment.author }}: {{ comment.content }}</p>
      {% if comment.author == user %}
        <a href="{% url 'edit-comment' comment.id %}">Edit</a>
        <a href="{% url 'delete-comment' comment.id %}">Delete</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
